{% extends 'base.html' %}
{# Inherit from the base template #}

{% block title %}Movie Tracker App{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-center mt-5">

  <!-- Background Video for Logged In Home Page -->
<video autoplay muted loop id="bg-video">
  <source src="{{ url_for('static', filename='videos/purple-energy.mp4') }}" type="video/mp4">
</video>

<div class="home-welcome-card">
    <h4 class="card-title mb-4">Welcome back, {{ user.username }}!</h4>
    <a href="{{ url_for('display_movies') }}" class="glow-button mb-2">🎬 View All Movies</a>
    <a href="/popular" class="glow-button">🔥 View Popular Movies</a>
    <a href="{{ url_for('watchlist') }}" class="glow-button">⭐ View My Watchlist</a>
    <a href="/logout" class="glow-button">🚪 Logout</a>
</div>
</div>
{% endif %}
{% endblock %}







